.backdrop {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.342);
    position: absolute;
    z-index: 100;
}

.modal {
    width: 50%;
    background-color: aliceblue;
    right: 25%;
    top: 15%;
    position: absolute;
    margin: 0 auto;
    z-index: 200;
    padding: 15px;

    &__input-title {
        color: black;
    }
}


.add-book__input {
    width: 100%;
}

.button__close {
    margin-top: 10px;
}

.buttoms {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}